.expansion-panel-margin{
    margin-top: 1rem;
}

.mat-expansion-panel-header {
    background-color: rgb(5, 5, 77);
  }

.font-mono {
    font-family: monospace;
}

.host {
    font-family: 'Bungee', cursive;
    text-align: center;
    margin-top: 5px;
    display: block;
}

.event-title{
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 12px;
}

.event-description{
  text-align: center;
  font-size: 12px;
}